<p id="notice"><%= notice %></p>

<h1>Listing Specialities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialities.each do |speciality| %>
      <tr>
        <td><%= link_to speciality.name, speciality %></td>
        <td><%= link_to 'Show', speciality %></td>
        <td><%= link_to 'Edit', edit_speciality_path(speciality) %></td>
        <td><%= link_to 'Destroy', speciality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speciality', new_speciality_path %>
