<p>
  <strong>Name:</strong>
  <%= person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= person.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= person.street %>
</p>

<p>
  <strong>City:</strong>
  <%= person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= person.state_name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= person.zip %>
</p>
