<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_check_boxes :ailment_ids, @ailments, :id, :name do |a| %>
      <div class="collection-check-box">
        <%= a.check_box %>
        <%= a.label %>
      </div>
    <% end %>
  </div>

  <%= render partial: "shared/person_form", locals: { form: f, person: @patient } %>
<% end %>
