<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @appointment.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @appointment.belongs_to %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @appointment.start_at %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
