<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Spreemo", root_path, class: "navbar-brand" %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <li class="nav-item"><%= link_to "Courses", user_courses_index_path(current_user) %></li>
            <li class="nav-item"><%= link_to "Log out", logout_path, method: "delete" %></li>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path %></li>
          <li class="nav-item"><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul> -->
    </div>
  </div>
</nav>
